<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./partials/head.ejs %>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel = "stylesheet" href ="./css/new.css">
    <title> Edit <%=pets.name%></title>
  </head>
  <body>
          <h1> <center> Edit a Lost Pet</h1></center>
        <div class = "container">
        <form action = "/pets/all" method = "POST">
          <label>Name:</label> <input type = "text" name = "name" value = "<%=pets.name%>"/><br>
          <label>Missing:</label> <input type = "text" name = "missing" value = "<%=pets.missing%>"/><br>
        <label>Image:</label> <input type = "text" name = "img" value = "<%=pets.img%>"/><br>
          <label>About:</label> <input type = "text" name = "about" value = "<%=pets.about%>"/><br>


          <label>ALERT LOCAL AREA VIA EMAIL:<input type = "checkbox" name = "alert" class="filled-in" checked="checked"/><span></span></label>
          <label>ALERT LOCAL AREA VIA TEXT:<input type = "checkbox" name = "alert" class="filled-in" checked="checked"/><span></span></label>
          <button class="btn waves-effect waves-light" input type="submit" name="action">Edit Pet
          <i class="material-icons right">send</i>
          </button>

        </form><br>
</div>
<br>
      </body>
    </html>

  <footer>
  <% include ./partials/footer.ejs %>

  </footer>

<style>
.brand {
  top: 0;
  margin-top: 0;
}
</style>
</html>
