<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>FindMeFido</h1>
  <% if (currentUser) { %>
    Welcome <%=currentUser.username%>!
    <a href = "/sessions/">Log Out </a>
    <% } else {%>
        <a href = "/users/new"> Create Account</a>
  Or
      <a href = "/sessions/new"> Log In</a>

    <%}%>

      <ul>
    <%for (let i=0; i < pets.length; i++) {%>

  <li>
    <a href = "/pets/<%=pets[i].id%>">
    <%= pets[i].name%>
    <img src = "<%=pets[i].img%>">
    </a>
    <%=pets[i].about %>
    <%=pets[i].missing %>
  </li>
      <% } %>
    </ul>
  </body>
</html>
